[submodule "ArduinoApp/library/CosmArduino"]
	path = ArduinoApp/library/CosmArduino
	url = git://github.com/cosm/cosm-arduino.git
[submodule "ArduinoApp/library/HttpClient"]
	path = ArduinoApp/library/HttpClient
	url = https://github.com/amcewen/HttpClient
[submodule "ArduinoApp/library/dht"]
	path = ArduinoApp/library/dht
	url = https://github.com/adafruit/DHT-sensor-library.git
